 html,
body {
    height: 100%;
}
 
 h1 , h3{
         color: white;
         margin-bottom: 200px;
 }

body {
    margin: 0;
    padding: 0;
    background: #222222;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 400px #111111;
    overflow: hidden;
    position: relative;
}

.calculatrice {
    width: 250px;
    height: 400px;
    padding: 0px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.screen {
    background: none;
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: white;
    width: 100%;
    height: 50px;
    font-size: 20px;
}

.bn {
    outline: none;
    width: 55px;
    height: 55px;
    margin: 2px;
    padding: 0px;
    background: none;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    
}

.bn:hover {
    transform: scale(1.08);
    transition: .5s;
}

 
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

 
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

 
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

 

.youtube {
  background: #bb0000;
  color: white;
}

 